.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Alegreya Sans', Arial, sans-serif;
}

.menu__item {
  margin: 5px 1.5rem 5px 0;

  &:last-child {
    margin-right: 0;
  }
}
