.fixed-menu {
  position: fixed;
  top: 25%;
  right: 3%;
  z-index: 100;

  .fixed-menu__item {
    margin-bottom: 5px;

    .fixed-menu__link {
      position: relative;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      border-width: 1px;
      border-style: solid;
      border-color: transparent;
      display: block;

      &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: "";
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #7b7b7b;

      }
    }
  }
  
  .fixed-menu__item_active {
    
    .fixed-menu__link {
      border-color: #e01f3d;
      display: block;

      &:before {
        background-color: #e01f3d;
      }
      
    }
  }
}