.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 25px;
  margin-bottom: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.radio .radio__elem {
  display: none;
}
.radio .radio__elem:checked ~ .radio__visible:before {
  display: block;
}
.radio .radio__visible {
  width: 26px;
  height: 26px;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: 10px;
}
.radio .radio__visible:before {
  content: "";
  width: 13px;
  height: 13px;
  background-color: #e01f3d;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.radio_checkbox .radio__visible {
  border-radius: 0;
}
.radio_checkbox .radio__visible:before {
  background: url("../../../Content/order/checkmark.svg") center center no-repeat;
}