.hero {
  position: relative;
  background-color: #f5f5f5;
  min-height: 650px;
}

.hero__container {
  background: url("../../../Content/hero/hero__preview-img.svg") right bottom/50% auto no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.hero__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  float: left;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 80px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 90px;
}

.header__logo {
  width: 40px;
  height: 40px;
  margin-right: 40px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Alegreya Sans", Arial, sans-serif;
  font-size: 18px;
}
.menu__list .menu__item {
  margin-right: 27px;
}
.menu__list .menu__item:last-child {
  margin-right: 45px;
}

.contacts .contacts__phone {
  font-size: 18px;
}
.contacts .contacts__phone:before {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0px;
  content: "";
  min-width: 21px;
  min-height: 21px;
  background: url("../../../Content/hero/phone.svg") center center no-repeat;
}

.hero__content {
  width: 37%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 70px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.hero__content .hero__title {
  margin-bottom: 20px;
  line-height: 1;
}
.hero__content .hero__desc {
  margin-bottom: 35px;
  font-family: "Alegreya Sans", Arial, sans-serif;
}
.hero__content .hero__desc p {
  font-size: 21px;
}

.hero__features .hero__features-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 10;
}
.hero__features .hero__features-list .hero__feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 8px;
}
.hero__features .hero__features-list .hero__feature:last-child {
  margin-right: 0;
}
.hero__features .hero__features-list .hero__feature .hero__feature-img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.hero__features .hero__features-list .hero__feature .hero__feature-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.hero__features .hero__features-list .hero__feature .hero__feature-text {
  max-width: 114px;
}

.hero__points {
  float: right;
  display: block;
  float: right;
  right: 100px;
  width: 20px;
  margin-right: 45px;
}
.hero__points .paginator .paginator__list .paginator__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.hero__points .paginator .paginator__list .paginator__item .paginator__link {
  margin: auto;
  width: 9px;
  height: 9px;
  background-color: #7B7B7B;
  border-radius: 50%;
}
.hero__points .paginator .paginator__list .paginator__item .paginator__link:hover {
  background-color: red;
}

.hero__preview {
  position: absolute;
  bottom: 50px;
  right: 100px;
}
.hero__preview .hero__preview-img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 489px;
  max-height: 489px;
  border-radius: 50%;
  overflow: hidden;
}