.hero {
  position: relative;
  background-color: #f5f5f5;
  // height: 100vh;
  min-height: 650px;
}

.hero__container {
  background: url('../../../Content/hero/hero__preview-img.svg') right bottom / 50% auto no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.hero__section {
  display: flex;
  flex-direction: column;
  float: left;
  flex: 1;
  margin-left: 80px;
}

//Header
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 90px;
}

.header__logo {
  width: 40px;
  height: 40px;
  margin-right: 40px;
}

.menu__list {
  display: flex;
  font-family: 'Alegreya Sans', Arial, sans-serif;
  font-size: 18px;

  .menu__item {
    margin-right: 27px;

    &:last-child {
      margin-right: 45px;
    }
  }
}

.contacts {
  .contacts__phone {
    font-size: 18px;

    &:before {
      display: inline-block;
      vertical-align: middle;
      margin-right: 0px;
      content: '';
      min-width: 21px;
      min-height: 21px;
      background: url('../../../Content/hero/phone.svg') center center no-repeat;
    }
  }
}

//Content
.hero__content {
  width: 37%;
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
  align-items: flex-start;

  .hero__title {
    margin-bottom: 20px;
    line-height: 1;
  }

  .hero__desc {
    margin-bottom: 35px;
    font-family: 'Alegreya Sans', Arial, sans-serif;

    p {
      font-size: 21px;

    }
  }
}

//Features
.hero__features {

  .hero__features-list {
    position: relative;
    display: flex;
    flex-direction: row;
    z-index: 10;

    .hero__feature {
      display: flex;
      align-items: center;
      margin-right: 8px;

      &:last-child {
        margin-right: 0;
      }

      .hero__feature-img {
        width: 40px;
        height: 40px;
        margin-right: 10px;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }

      .hero__feature-text {
        max-width: 114px;
      }
    }
  }
}

//Points
.hero__points {
  float: right;
  display: block;
  float: right;
  right: 100px;
  width: 20px;
  margin-right: 45px;


  .paginator {


    .paginator__list {


      .paginator__item {
        display: flex;
        width: 20px;
        height: 20px;
        border-radius: 50%;

        .paginator__link {
          margin: auto;
          width: 9px;
          height: 9px;
          background-color: #7B7B7B;
          border-radius: 50%;

          &:hover {
            background-color: red;

          }
        }
      }
    }
  }
}

//Preview
.hero__preview {
  position: absolute;
  bottom: 50px;
  right: 100px;

  .hero__preview-img {
    object-fit: cover;
    max-width: 489px;
    max-height: 489px;
    border-radius: 50%;
    overflow: hidden;
  }

}