.reviews .reviews__section {
  margin: 65px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.reviews .reviews__section .reviews__title {
  margin-bottom: 30px;
}
.reviews .reviews__section .reviews__rewiew {
  margin-bottom: 15px;
}
.reviews .reviews__section .reviews__avatars-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.reviews .reviews__section .reviews__avatars-list .reviews__avatars-item {
  cursor: pointer;
  margin-right: 5px;
  overflow: hidden;
  border-radius: 50%;
  max-width: 74px;
  max-height: 74px;
}
.reviews .reviews__section .reviews__avatars-list .reviews__avatars-item:last-child {
  margin-right: 0px;
}